#topic-commodities {
  @extend #topic;

  .box-topic {
    gap: 0;

    .child {
      .topic-img {
        width: calc(100% + 70px);
        margin-left: -67px;    
        mix-blend-mode: multiply;
      }

      &:last-child {
        padding-left: 110px;
      }

      .topic-group {
        margin-bottom: 32px;
        .topic-desc {
          width: calc(100% + 80px);
          margin-bottom: 50px;
        }
      }
    }
  }

  @media (max-width: 1250.98px) {
    .box-topic {
      .child {
        .topic-group {
          .topic-desc {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 1000.98px) {
    .box-topic {
      .child {
        &:last-child {
          padding-left: 60px;
        }
      }
    }
  }

  @media (max-width: 800.98px) {
    .box-topic {
      gap: 40px;

      .child {
        .topic-img {
          width: 100%;
          text-align: center;
        }

        &:last-child {
          padding-left: 0px;
        }
      }
    }
  }
}

#commodities {
  @extend #stocks;
  padding-top: 80px;
  margin-bottom: 240px;

  .stocks-head {
    display: flex;
    margin-bottom: 0;

    .child {
      width: 50%;

      .stocks-img {
        padding-left: 70px;
      }

      .box-title {
        padding-top: 32px;

        .box-title__title {
          font-size: 46px;
          line-height: 1;
          margin-bottom: 64px;

          span {
            color: var(--c-red);
          }
        }

        .box-title__desc {
          line-height: 30px;
        }
      }

      .list {
        .item {
          &:not(&:last-child) {
            margin-bottom: 40px;
          }

          .title {
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
          }

          .desc {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 1450.98px) {
    .stocks-head {
      .child {
        .stocks-img {
          img {
            width: 110%;
          }
        }
      }
    }
  }

  @media (max-width: 1200.98px) {
    .stocks-head {
      .child {
        .stocks-img {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 1000.98px) {
    padding-top: 40px;
    margin-bottom: 160px;

    .stocks-head {
      .child {
        .stocks-img {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 800.98px) {
    margin-bottom: 80px;
    .stocks-head {
      flex-direction: column-reverse;

      .child {
        width: 100%;

        .stocks-img {
          width: 80%;
        }
      }
    }
  }
}

#ways-to-commodities {
  @extend #ways-to;

  .stock-why-list {
    .child {
      &:last-child {
        padding-left: 80px;
      }

      .stock-why-img {
        img {
          right: 20px;
        }
      }

      .box-title {
        .box-title__subtitle {
          margin-bottom: 60px !important;
        }
      }
    }
  }
}

#commodities-why {
  @extend #stock-why;

  .stock-why-list {
    .child {
      .box-title {
        .box-title__title {
          width: calc(100% + 40px);
        }
      }
    }
  }

  @media (max-width: 1200.98px) {
    .stock-why-list {
      .child {
        .box-title {
          .box-title__title {
            width: 100%;
            line-height: 50px;
          }
        }
      }
    }
  }
}