#commodities {
  padding-top: 80px;

  .commodities-head {
    display: flex;
    margin-bottom: 70px;

    .child {
        width: 50%;
      .commodities-img {
        padding-left: 70px;
      }
      .box-title {
        padding-top: 32px;
        .box-title__title {
          font-size: 46px;
          line-height: 1;
          margin-bottom: 64px;

          span {
            color: var(--c-red);
          }
        }
        .box-title__desc {
            line-height: 30px;
        }
      }

      .list {
        .item {
          &:not(&:last-child) {
            margin-bottom: 40px;
          }
          .title {
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
          }
          .desc {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .commodities-stock {
    margin-bottom: 130px;

    .commodities-stock__img {
      margin-bottom: 30px;
      img {
        width: 90%;
        height: auto;
      }
    }
    .commodities-stock__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px;

      .child {
        display: flex;
        flex-direction: column;

        .child-title {
          font-size: 25px;
          font-weight: bold;
          line-height: 30px;
          margin-bottom: 0;
        }
        .child-desc {
          font-size: 25px;
          line-height: 30px;
          margin-bottom: 60px;
          white-space: pre-line;
        }
        .child-img {
          margin-top: auto;
          text-align: center;
          img {
          }
        }
      }
    }
  }
}

