.toggle-custom {
    width: 41px;
    height: 22px;
    position: fixed;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 99999;
    top: 44px;
    right: 13px;
    display: none;

    @media (max-width: 1000.98px) {
        // top: 22px;
        display: flex;
    }

    span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: var(--c-text);
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    &.open {
        span {
            background-color: var(--c-white);

            &:nth-child(1) {
                transform: rotate(30deg);
                top: 0px;
                left: 1px;
            }

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-30deg);
                top: 21px;
                left: 1px;
                width: 100%;
            }
        }
    }
}

/* Icon 4 */

.toggle-custom {
    span {
        transform-origin: left center;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 11px;
        }

        &:nth-child(3) {
            top: 22px;
            width: 26px;
        }
    }
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-white);

    .box-header {
        width: 100%;
        max-width: 1734px;
        margin: 0 auto;
    }

    .navbar {
        padding: 0;

        .navbar-brand {
            padding: 0;
            margin-right: 100px;

            .logo {
                width: 230px;
                height: auto;
            }
        }
        
        .collapse {
            flex-wrap: wrap;
            .navbar-nav {
                .nav-item {
                    &:hover {
                        .nav-link {
                            color: var(--c-red);
                        }
                    }

                    .nav-link {
                        font-size: 16px;
                        color: var(--c-main);
                        padding: 0 40px;
                    }
                }
            }

            .header-search {
                form {
                    position: relative;

                    .img-search {
                        position: absolute;
                        top: 50%;
                        left: 8px;
                        transform: translateY(-50%);
                    }

                    .form-control {
                        border: unset;
                        outline: unset;
                        box-shadow: unset;
                        padding-left: 40px;
                        width: 110px;
                        background-color: unset;

                        &::placeholder {
                            color: var(--c-main);
                        }
                    }
                }
            }

            .header-language {
                a {
                    text-decoration: none;
                    padding: 0 8px;
                    color: var(--c-main);
                    
                    &.active {
                        color: var(--c-red);
                    }
                }
            }

            .header-login {
                padding-left: 160px;
                a {
                    text-decoration: none;
                    color: var(--c-main);
                    display: inline-flex;
                    align-items: center;
                    gap: 16px;

                    &.active {
                        color: var(--c-red);
                    }

                    &:first-child {
                        padding-right: 30px;
                    }
                }
            }
        }
    }

    @media (max-width: 1580.98px) {
        .navbar {
            .navbar-brand {
                margin-right: 60px;
            }
            
            .collapse {
                flex-wrap: wrap;
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            padding: 0 30px;
                        }
                    }
                }
    
                .header-language {
                    a {
                        text-decoration: none;
                        padding: 0 8px;
                        color: var(--c-main);
                        
                        &.active {
                            color: var(--c-red);
                        }
                    }
                }
    
                .header-login {
                    padding-left: 40px;
                    a {
                        &:first-child {
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1300.98px) {
        .navbar {
            .navbar-brand {
                margin-right: 40px;
                .logo {
                    width: 190px;
                }
            }
            
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            padding: 0 20px;
                        }
                    }
                }
    
                .header-language {
                    a {
                        text-decoration: none;
                        padding: 0 8px;
                        color: var(--c-main);
                        
                        &.active {
                            color: var(--c-red);
                        }
                    }
                }
    
                .header-login {
                    padding-left: 40px;
                    a {
                        &:first-child {
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1000.98px) {
        .navbar {
            .collapse {
                display: none !important;
            }
        }
    }
}

.logo-mobile {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 9999;
    visibility: hidden;

    &.open {
        visibility: visible;
    }

    img {
        height: 19px;
        width: auto;
    }
}

.overlay {
    position: fixed;
    background: var(--c-white);
    height: 100%;
    transition: transform 0.35s ease-in-out;
    overflow-y: auto;
    z-index: 9999;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateX(100%);


    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    nav {
        margin-top: 109px;
        margin-bottom: 30px;

        .navbar-nav {
            & > .menu-item {
                border-bottom: 1px solid var(--c-white);
                & > a {
                    font-size: 20px;
                    color: inherit;
                    padding: 0;
                    display: flex;
                    height: 60px;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-decoration: none;
                }
                &> .sub-menu {
                    padding: 0 0 25px;
                    list-style: none;

                    .menu-item {
                        &:not(&:last-child) {
                            margin-bottom: 20px;
                        }

                        & > a {
                            // @include font-noto-sans(14px, 0.7px, var(--c-white), 1);
                            padding: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .header-language {
            justify-content: center;
            align-items: center;
            height: 60px;
            a {
                text-decoration: none;
                padding: 0 8px;
                color: var(--c-main);
                font-size: 20px;
                
                &.active {
                    color: var(--c-red);
                }
            }
        }

        .header-login {
            flex-direction: column;
            align-items: center;
            
            a {
                height: 60px;
                text-decoration: none;
                color: var(--c-main);
                display: inline-flex;
                align-items: center;
                gap: 16px;
                font-size: 20px;

                &.active {
                    color: var(--c-red);
                }
            }
        }
    }

    @media (max-width: 768.98px) {
        width: 100%;
        // transform: translateY(-100%);

        // &.open {
        //     transform: translateY(0);
        // }

        nav {
            margin-top: 100px;
            margin-bottom: 0;

            .navbar-nav {

                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }

        .nav-bottom {
            margin-top: 37px;
            padding-left: 40px;
        }
    }
}
