.toggle-custom {
    width: 41px;
    height: 22px;
    position: fixed;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 9999;
    top: 35px;
    right: 13px;

    @media (max-width: 767.98px) {
        top: 22px;
    }

    span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: var(--c-text);
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    &.open {
        span {
            background-color: var(--c-white);

            &:nth-child(1) {
                transform: rotate(30deg);
                top: 0px;
                left: 1px;
            }

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-30deg);
                top: 21px;
                left: 1px;
                width: 100%;
            }
        }
    }
}

/* Icon 4 */

.toggle-custom {
    span {
        transform-origin: left center;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 11px;
        }

        &:nth-child(3) {
            top: 22px;
            width: 26px;
        }
    }
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0;
    height: 109px;

    .box-header {
        width: 100%;
    }

    .navbar {
        padding: 0;
        flex-wrap: wrap;

        .navbar-brand {
            padding: 0;
            margin-left: 46px;
            margin-right: 0;

            .logo {
                height: 21px;
            }
        }
        
        .collapse {
            .navbar-nav {
                .menu-item {
                    &:last-child {
                        .nav-link {
                            background-color: red;
                        }
                    }
                    .nav-link {
                        @include font-staatliches(22px, 2.2px, var(--c-white), 1);
                        padding: 0;
                        padding: 0 35px;
                        display: inline-flex;
                        height: 109px;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        
                        span {
                            display: block;
                            @include content-noto-sans(11px, 0.55px, var(--c-white), 1);
                            margin-top: 6px;
                        }
                    }
                }
            }
            .group-btn-header {
                margin-left: 62px;
                
                .dropdown {
                    .dropdown-toggle {
                        // @include content(18px, inherit, var(--c-white));
                        text-align: right;
                    }
                }
                .btn-reserve {
                    @include center_flex;
                    // @include content(18px);
                    text-decoration: none;
                    width: 170px;
                    height: 46px;
                    border-radius: 30px;
                    border: 2px solid var(--c-white);
                    margin: 14px 0 12px;
                }
                .tel {
                    // @include content(18px, inherit, var(--c-white));
                    text-align: right;
                }
            }
        }
    }

    @media (max-width: 1000.98px) {}

    @media (max-width: 767.98px) {
        padding-left: 12px;
        .navbar {
            .navbar-brand {
                font-size: 6.66px;
                font-style: normal;
                line-height: 7.685px; /* 115.385% */
                letter-spacing: 0.799px;
                .logo {
                    height: 26px;
                    margin-right: 4px;
                }
            }

            .navbar-right {
                .nav-btn {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 575.98px) {}
}

.overlay {
    position: fixed;
    background: var(--c-blue);
    height: 100%;
    transition: transform 0.35s ease-in-out;
    overflow: hidden;
    z-index: 99;

    top: 0;
    right: 0;
    // width: 315px;
    width: 647px;
    transform: translateX(100%);

    .btn-contact {
        width: 250px;
        height: 78px;
        background-image: linear-gradient(90deg, #055068 10.05%, #0095c4 93.48%);
        transform: skewX(-20deg);
        color: var(--c-white);
        font-size: 23px;
        font-weight: 700;
        display: inline-flex;
        border: 1px solid var(--c-main);
        border: unset;
        border-radius: 0;
        line-height: 1;
        justify-content: center;
        align-items: center;

        span {
            transform: skewX(20deg);
            padding-right: 30px;
        }

        transition: 0.3s all ease-in-out;

        &:focus {
            box-shadow: unset;
        }
    }

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);

        li {
            animation: fadeInRight 0.5s ease forwards;
            animation-delay: 0.35s;

            // &:nth-of-type(2) {
            //     animation-delay: 0.4s;
            // }

            // &:nth-of-type(3) {
            //     animation-delay: 0.45s;
            // }

            // &:nth-of-type(4) {
            //     animation-delay: 0.5s;
            // }
        }

        .nav-bottom {
            a {
                animation: fadeInRight 0.5s ease forwards;
                animation-delay: 0.35s;
            }
        }
    }

    nav {
        margin-top: 142px;
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 30px;

        .navbar-nav {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            position: relative;
            padding-left: 107px;

            li {
                display: inline-flex;
                position: relative;
                opacity: 0;
                padding-bottom: 42px;

                a {
                    display: inline-block;
                    position: relative;
                    color: var(--c-white);
                    text-decoration: none;
                    overflow: hidden;
                    font-size: 18px;
                    font-weight: bold;
                    padding: 0;

                    &:hover {
                        text-decoration: none;
                        color: var(--c-white);
                    }

                    &:hover:after,
                    &:focus:after,
                    &:active:after {
                        width: 100%;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 1px;
                        width: 0;
                        background-color: var(--c-white);
                        transition: all .3s ease-in-out;
                        border-radius: 4px;
                    }
                }

                &:hover {
                    a::after {
                        width: 100%;

                    }
                }
            }
        }
    }

    .ul-link {
        list-style: none;
    }

    .nav-bottom {
        padding-left: 107px;
        margin-top: 82px;

        a {
            opacity: 0;
            color: var(--c-white);
            font-size: 14px;
            font-weight: 700;
            text-decoration-line: underline;
            margin-right: 28px;
            display: inline-block;
            position: relative;
        }
    }

    @media (max-width: 768.98px) {
        width: 100%;
        // transform: translateY(-100%);

        // &.open {
        //     transform: translateY(0);
        // }

        nav {
            margin-top: 100px;
            margin-bottom: 0;

            .navbar-nav {
                padding-left: 40px;
                grid-template-columns: 160px 1fr;
                column-gap: 39px;

                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }

        .nav-bottom {
            margin-top: 37px;
            padding-left: 40px;
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}