#topic {
    padding: 60px 0;
    background-image: linear-gradient(0deg,
            rgba(246, 246, 246, 0.9999999999999999) 0%,
            rgba(255, 255, 255, 0) 100%);

    .box-topic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 80px;

        .child {
            &:has(.topic-img) {
                text-align: center;
            }

            .topic-img {
                margin: 0 auto;
            }

            .topic-group {
                .topic-title {
                    color: var(--c-red);
                    font-size: 50px;
                    font-family: "UTMHelveBold", sans-serif;
                    font-weight: bold;
                    margin-bottom: 30px;
                }

                .topic-desc {
                    white-space: pre-line;
                    font-size: 25px;
                    margin-bottom: 64px;
                }

                .topic-btn {
                    @include center_flex;
                    width: 270px;
                    height: 48px;
                    border-radius: 24px;
                    background-color: var(--c-red-2);
                    font-size: 20px;
                    color: var(--c-white);
                    text-decoration: none;
                }
            }
        }
    }

    @media (max-width: 800.98px) {
        .box-topic {
            grid-template-columns: 1fr;
            gap: 32px;

            .child {
                .topic-img {
                    width: 60%;
                }

                .topic-group {
                    .topic-title {
                        font-size: 32px;
                        text-align: center;
                        margin-bottom: 24px;
                    }

                    .topic-desc {
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 40px;
                    }

                    .topic-btn {
                        width: 280px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

#news-list {
    padding-top: 100px;

    .box-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 64px 32px;

        .item {
            .item-img {
                height: 260px;
                object-fit: cover;
                width: 100%;
            }

            .item-title {
                margin-top: 30px;
                margin-bottom: 20px;
                color: var(--c-red);
                font-weight: bold;
                font-size: 18px;
            }

            .item-desc {
                color: var(--c-text);
                font-size: 18px;
            }
        }
    }

    @media (max-width: 1000.98px) {
        .box-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 600.98px) {
        .box-list {
            grid-template-columns: 1fr;
            gap: 32px;
        }
    }
}

#news-guide {
    margin: 140px 0;

    .news-guide-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        gap: 50px;

        .child {
            border-radius: 20px;
            filter: drop-shadow(0px 12px 25.5px rgba(58, 58, 58, 0.15));
            background-color: #ffffff;
            position: relative;
            height: 100%;

            .list {
                padding: 25px;

                .item {
                    display: grid;
                    grid-template-columns: 125px 1fr;
                    gap: 30px;

                    &:not(&:last-child) {
                        margin-bottom: 20px;
                    }

                    .item-img {}

                    .item-content {
                        .title {
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .time {
                            font-size: 16px;
                            font-style: italic;
                        }
                    }
                }
            }

            .view-more {
                font-size: 14px;
                color: var(--c-red);
                position: absolute;
                bottom: -40px;
                text-align: center;
                width: 100%;
                text-decoration: none;
            }

            .news-guide__note {
                position: absolute;
                bottom: -40px;
                text-align: center;
                width: 100%;
                font-size: 14px;
            }

            .news-guide__img {
                width: 100%;
            }
        }
    }

    @media (max-width: 1000.98px) {
        .news-guide-box {
            gap: 32px;
        }
    }

    @media (max-width: 800.98px) {
        margin: 60px 0;
    }

    @media (max-width: 600.98px) {
        .news-guide-box {
            grid-template-columns: 1fr;
            gap: 70px;
        }
    }
}

#start_trading {
    margin-top: 100px;
    margin-bottom: 200px;

    .start_trading-title {
        margin-bottom: 30px;

        .title {
            font-size: 46px;
            color: var(--c-text);
            font-weight: bold;

            span {
                font-size: 34px;
                color: var(--c-red);
                display: block;
            }
        }
    }

    .start_trading-step {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .child {
            position: relative;

            &:not(&:last-child) {
                &::after {
                    content: "";
                    position: absolute;
                    top: 34%;
                    left: calc(100% + 42px);
                    width: 0;
                    height: 0;
                    border-top: 14px solid transparent;
                    border-left: 24px solid var(--c-red-2);
                    border-bottom: 14px solid transparent;
                }
            }

            .child-round {
                position: relative;

                .child-img-txt {
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    span {
                        font-family: "Exo", sans-serif;
                        font-size: 50px;
                        font-weight: bold;
                        color: var(--c-red-3);
                        line-height: 0.4;
                        text-align: center;

                        &:last-child {
                            font-size: 20px;
                            font-weight: normal;
                            display: block;
                        }
                    }
                }
            }

            .child-text {
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                margin-top: -8px;
            }
        }
    }

    @media (max-width: 1000.98px) {
        .start_trading-step {
            .child {
                &:not(&:last-child) {
                    &::after {
                        left: calc(100% + 8px);
                    }
                }
            }
        }
    }

    @media (max-width: 800.98px) {
        .start_trading-title {
            text-align: center;
        }

        .start_trading-step {
            flex-wrap: wrap;
            row-gap: 40px;

            .child {
                text-align: center;
                width: 50%;

                &:not(&:last-child) {
                    &::after {
                        left: 100%;
                    }
                }

                &:nth-child(2) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

#news-detail {
    padding-top: 80px;

    .news-detail__1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 136px;

        .content {
            .title {
                font-size: 30px;
                color: var(--c-red);
                font-weight: bold;
                margin-bottom: 50px;
            }

            .desc {
                font-size: 20px;
                line-height: 25px;
                white-space: pre-line;
            }
        }

        .img {
            border-radius: 12px;
            height: 320px;
        }
    }

    .news-detail__2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        .content {
            padding-left: 100px;

            .desc {
                font-size: 20px;
                line-height: 25px;
                white-space: pre-line;
            }
        }

        .img {
            border-radius: 12px;
            height: 320px;
        }
    }

    @media (max-width: 1000.98px) {
        .news-detail__2 {
            .content {
                padding-left: 0;
            }
        }
    }

    @media (max-width: 800.98px) {
        padding-top: 60px;
        .news-detail__1 {
            grid-template-columns: 1fr;
            gap: 24px;
            margin-bottom: 40px;
    
            .content {
                order: 2;
                .title {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
    
                .desc {
                    line-height: 30px;
                }
            }
        }
    
        .news-detail__2 {
            grid-template-columns: 1fr;
            gap: 24px;
            .content {

                .desc {
                    line-height: 30px;
                }
            }
        }
    }
}