#topic-web_trader {
  @extend #topic;

  .box-topic {
    gap: 0;
    .child {
      .topic-img {
        width: 100%;
        mix-blend-mode: multiply;
      }
      &:last-child {
        padding-left: 90px;
      }
    }
  }
}

#web_trader {
  padding-top: 120px;
  .web_trader-img {
    width: 100%;
  }
}